*{
  margin: 0;
  padding: 0;
}

.contenedor {
  width: 1200px;
  height: 1000px;
  margin: 0.5em auto
}

.header {
  height: 15%;
  background: #A4A4A4;
  border-radius: 1em;
  margin: 1em;
}

.nav{
  height: 10%;
  background: #424242;
  border-radius: 1em;
  margin: 1em;
}

.content {
  height: 53%;
  margin: 1em;
}

#section{
  height: 95%;
  width: 68%;
  background: #A4A4A4;
  border-radius: 1em;
  float: left;
  margin: 0.5em;
}

#aside {
  height: 95%;
  width: 28%;
  background: #A4A4A4;
  border-radius: 1em;
  float: right;
  margin: 0.5em;
}

.article{
  height: 20%;
  width: 96%;
  background: #424242;
  margin: 1em;
  border-radius: 1em;
}

.footer {
  height: 15%;
  background: #424242;
  border-radius: 1em;
  margin: 1em;
}
